<div class="mt-5" *ngFor="let post of posts">
  <div *ngIf="post.active">
    <div
      class="card"
      [ngClass]="{
        'bg-warning': post.type == 'news',
        'bg-info': post.type == 'education',
        'bg-dark': post.type == 'politics',
        'text-white': post.type == 'politics'
      }"
    >
      <h3 class="text-center rounded-top">
        {{ post.title }}
      </h3>
      <div class="card-body">
        <p class="card-text">{{ post.body }}</p>
        <button
          class="btn btn-danger d-block mx-auto"
          (click)="alterPosts(post.id)"
        >
          Disable
        </button>
      </div>
    </div>
  </div>
</div>
